flows/Product_Enquiry_Quote.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>VarAssignment</name>
        <label>VarAssignment</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varR_Case.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameContact.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.Case_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.Case_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameContact.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Enquiry Form</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.Additional_comments_by_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales and Pre-Sales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.Sub_category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enquire_about</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Case_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Creation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Product1</name>
        <choiceText>Product Information</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Product2</name>
        <choiceText>Pricing Inquiry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing Inquiry</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product3</name>
        <choiceText>Bulk Order Inquiry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bulk Order Inquiry</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Type_of_information</name>
        <label>Type of information</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Quote_Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pricing information</defaultConnectorLabel>
        <rules>
            <name>Product_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Case.Sub_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Product1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Info_screen</targetReference>
            </connector>
            <label>Product Information</label>
        </rules>
    </decisions>
    <description>Flow to create case and related Quote from product enquiry form</description>
    <dynamicChoiceSets>
        <name>ProdList2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>varR_Case.Product_Enquired__c</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubCategoryPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sub_category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Product Enquiry &amp; Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Product Enquiry &amp; Quote</label>
    <loops>
        <name>Case_creation_loop</name>
        <label>Case creation loop</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>varR_Case_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Type_of_information</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Case creation</description>
        <name>Case_Creation</name>
        <label>Case Creation</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Case_creation_loop</targetReference>
        </connector>
        <inputReference>varR_Case_Collection</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Product_Info_screen</name>
        <label>Product Info screen</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ProductMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(208, 56, 176);&quot;&gt;Hi..Your request had been submitted successfully.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(208, 56, 176);&quot;&gt;Our team will reach you with the information you required.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(208, 56, 176);&quot;&gt;Thank you&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Name of the customer</description>
        <name>ProductEnquiryScreen</name>
        <label>Product Enquiry Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VarAssignment</targetReference>
        </connector>
        <fields>
            <name>NameContact</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>informalName</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleName</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Company</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Enquire_about</name>
            <choiceReferences>Product1</choiceReferences>
            <choiceReferences>Product2</choiceReferences>
            <choiceReferences>Product3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Enquire about?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProdList</name>
            <choiceReferences>ProdList2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Products List</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity1</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Enquire_about</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Product2</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Enquire_about</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Product3</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Comments</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_Message_Screen</name>
        <label>Quote Message Screen</label>
        <locationX>528</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayQuoteMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(67, 35, 186);&quot;&gt;&lt;em&gt;Hurray..!&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(67, 35, 186);&quot;&gt;&lt;em&gt;Your request has been successfully submitted.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(67, 35, 186);&quot;&gt;&lt;em&gt;Quote will reach you at your email {!Email.value}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(67, 35, 186);&quot;&gt;&lt;em&gt;Thank you&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProductEnquiryScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varR_Case_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varR_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varR_Lead_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varR_Quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>varR_Quote_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
